.fondo-ave {
    position: absolute;
    right: 0;
    width: 60%;
    height: 50%;
    display: block;
    top: 20%;
}

.nav-con2 {
    margin-left: 30%;
    display: flex;
}

header {
    padding: 100%;
}

.established {
    position: absolute;
    top: 38%;
    left: -70%;
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    letter-spacing: 5px;
    font-family: 'Karla', sans-serif;
}